.idea/
.gradle
.shelf
build
out
**/build
*.iws
*.iml
*.ipr
*/**/bin

testsupport/testsupport.iml
status/status.iml
jobs/jobs.iml
health/health.iml
example/example.iml
.gitconfig
classes
gradlew/

# Eclipse / Eclipse Language Server
.classpath
.project
.settings/
.factorypath
