spring:
    application:
        name: example-status
    jackson:
        date-format: yyyy-MM-dd'T'hh:mm:ss.sssZ
        serialization:
            indent-output: true

server:
    servlet:
        context-path: /
    port: 8082

management:
    endpoints:
        web:
            base-path: /actuator
            exposure:
                include: '*'
    endpoint:
        loggers:
            enabled: true

edison:
    gracefulshutdown:
        enabled: false
    application:
        name: status
        description: Example service to show how to use edison-core in your microservices
        environment: local
        group: example
        title: example-status [develop]
    status:
        team:
            business-contact: edison-team@example.org
            name: Edison Team
            technical-contact: edison-dev@example.org

        cluster:
            enabled: true
            color-header: X-Color
            color-state-header: X-Staging

#    ldap:
#        enabled: false
#        host: ldap.example.com
#        port: 389
#        base-dn: ou=test,ou=people,dc=example,dc=org
#        rdn-identifier: uid
#        allowlisted-paths: /internal/health,/internal/status
