<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <script src="/js/themeInit.js"></script>
    <th:block th:replace="~{fragments/head  :: head}"></th:block>
</head>

<body>

<div th:replace="~{fragments/navigation  :: navigation}"></div>

<div class="container">
    <div class="card h-100 mb-4" th:each="def : ${jobdefinitions}">
        <div class="card-header">
            <h3 class="card-title mb-0" th:text="${def.name}"></h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="jobType">Job Type: </label>
                    <span id="jobType" th:text="${def.jobType}"></span>
                    <br/>
                    <label for="maxAge">Max Age: </label>
                    <span id="maxAge" th:text="${def.maxAge}"></span>
                    <br/>
                    <label for="frequency">Frequency: </label>
                    <span id="frequency" th:text="${def.frequency}"></span>
                    <br/>
                    <label for="retries">Retries: </label>
                    <span id="retries" th:text="${def.retry}"></span>
                </div>
                <div class="col-md-4" th:text="${def.description}">Description</div>
                <div class="col-md-4 d-flex flex-column align-items-start">

                    <a id="openButton" th:href="@{|${edisonManagementBasePath}/jobs?type=${def.jobType}|}"
                       class="btn btn-sm btn-secondary mb-2 w-auto">Job Overview</a>

                    <button type="button"
                            class="triggerButton btn btn-sm btn-primary mb-2 w-auto"
                            th:attr="data-trigger-url=${baseUri} + ${edisonManagementBasePath} + '/jobs/' + ${def.jobType}, disabled=${def.isDisabled ? 'disabled' : null}"
                            title="Click to start job now"
                            data-loading-text="Triggering..."> <!--  TODO: needs to be changes in js-->
                        <span>Trigger </span><span class="bi bi-play-fill"></span>
                    </button>


                    <form th:action="${baseUri} + ${edisonManagementBasePath} + '/jobs/' + ${def.jobType} + '/' + ${def.isDisabled?'enable':'disable'}"
                          method="POST" class="mb-2 w-100">
                        <div class="input-group input-group-sm w-100">
                            <button type="submit" class="btn" th:classappend="${def.isDisabled ? 'btn-danger' : 'btn-success'}"
                                    th:title="${def.isDisabled} ? 'Job is disabled. Click to enable' : 'Job is enabled. Click to disable'">
                                <span th:if="${def.isDisabled}">Disabled <span
                                        class="bi bi-x"></span></span>
                                <span th:if="${!def.isDisabled}">Enabled <span
                                        class="bi bi-check"></span></span>
                            </button>
                            <input th:if="${def.isDisabled}" name="disabledComment" class="form-control"
                                   disabled th:placeholder="${def.comment}"></input>
                            <input th:if="${!def.isDisabled}" name="disabledComment" class="form-control"
                                   placeholder="Why disabled?"></input>
                        </div><!-- /input-group -->
                    </form>

                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->


<span th:replace="~{fragments/footer :: footer}"/>

<script th:src="${baseUri} + '/internal/js/triggerButton.js'"></script>

<script th:src="@{/js/darkmodeToggle.js}"></script>
</body>
</html>

