<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container">

    <div id="job-messages" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${job.jobType}">title</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Status</dt>
                <dd>
                    <th:block th:if="${job.state} != 'Running'">
                        <span th:if="${job.status} == 'OK'"  class="label progress-bar progress-bar-success" style="width:10em; height:2em;"><span th:text="${job.status}"></span></span>
                        <span th:if="${job.status} == 'ERROR'"  class="label progress-bar progress-bar-danger" style="width:10em; height:2em;"><span th:text="${job.status}"></span></span>
                        <span th:if="${job.status} == 'DEAD'"  class="label progress-bar" style="width:10em; height:2em; background: rgba(230, 110, 30, 1);"><span th:text="${job.status}"></span></span>
                    </th:block>
                    <th:block th:if="${job.state} == 'Running'"><span th:text="RUNNING" class="label progress-bar progress-bar-info progress-bar-striped active" style="width:10em; height:2em;">RUNNING</span></th:block>
                </dd>
                <dt>Executed by</dt>
                <dd th:text="${job.hostname}">&nbsp;</dd>
                <dt>Started</dt>
                <dd th:text="${job.started}">&nbsp;</dd>
                <dt>Stopped</dt>
                <dd th:text="${job.stopped}">&nbsp;</dd>
                <dt>Definition</dt>
                <dd><a th:href="@{|/internal/jobdefinitions/${job.jobType}|}" class="btn btn-xs btn-primary">Open Definition &raquo;</a></dd>
                <dt>Last Updated</dt>
                <dd th:text="${job.lastUpdated}">&nbsp;</dd>
                <dt>Messages</dt>
                <dd>
                <pre class="pre-scrollable"><div th:each="message : ${job.messages}" th:text="${message}" ></div></pre>
                </dd>
            </dl>
        </div>
    </div>
    <a th:href="@{/internal/jobdefinitions}" class="btn btn-sm btn-primary">Open Job Definitions &raquo;</a>
</div> <!-- /container -->

<span th:replace="fragments/footer :: footer" />

</body>
</html>