<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container">
    <div id="job-messages" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${job.jobType}"></h3>
        </div>
        <div class="panel-body">
            <div class="row>">
                <div class="col-md-2">
                    <dl>
                        <dt>Status:</dt>
                        <dd>
                            <th:block th:if="${job.state} != 'Running'">
                                <span th:if="${job.status} == 'OK'"  class="label label-success" style="width:10em; height:2em;" id="job-status"><span th:text="${job.status}"></span></span>
                                <span th:if="${job.status} == 'SKIPPED'"  class="label label-default" style="width:10em; height:2em;" id="job-status"><span th:text="${job.status}"></span></span>
                                <span th:if="${job.status} == 'ERROR'"  class="label label-danger" style="width:10em; height:2em;" id="job-status"><span th:text="${job.status}"></span></span>
                                <span th:if="${job.status} == 'DEAD'"  class="label label-warning" style="width:10em; height:2em; background: rgba(230, 110, 30, 1);" id="job-status"><span th:text="${job.status}"></span></span>
                            </th:block>
                            <th:block th:if="${job.state} == 'Running'"><span th:text="RUNNING" class="label progress-bar progress-bar-info progress-bar-striped active" style="width:10em; height:2em;" id="job-status">RUNNING</span></th:block>
                        </dd>
                        <dt><br/>Executed by:</dt>
                        <dd th:text="${job.hostname}">&nbsp;</dd>
                        <dt>Started:</dt>
                        <dd th:text="${job.started}">&nbsp;</dd>
                        <dt>Stopped:</dt>
                        <dd id="job-stopped" th:text="${job.stopped}">&nbsp;</dd>
                        <dt>Last Update:</dt>
                        <dd id="job-last-updated" th:text="${job.lastUpdated}">&nbsp;</dd>
                    </dl>
                    <div class="form-group">
                        <a th:href="@{|${edisonManagementBasePath}/jobdefinitions/${job.jobType}|}" class="btn btn-sm btn-default btn-block">Open Definition</a>
                        <button type="button"
                                class="triggerButton btn btn-sm btn-default btn-block"
                                th:attr="data-trigger-url=${baseUri} + ${edisonManagementBasePath} + '/jobs/' + ${job.jobType}, disabled=${job.isDisabled || (job.state == 'Running') ? 'disabled' : null}"
                                title="Click to start job now"
                                data-loading-text="Triggering...">
                            <span>Trigger </span><span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-check text-right">
                        <input type="checkbox" class="form-check-input" id="follow-log" checked="checked" />
                        <label class="form-check-label" for="follow-log">Follow log</label>
                    </div>
                    <pre class="logWindow pre-scrollable" th:attr="data-job-url=${job.jobUri} + '?humanReadable=true'"><div th:each="message : ${job.messages}" th:text="${message}" ></div></pre>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<span th:replace="fragments/footer :: footer" />

<script th:src="${baseUri} + '/internal/js/triggerButton.js'"></script>
<script th:src="${baseUri} + '/internal/js/logLoader.js'"></script>

</body>
</html>
