<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container">

    <div id="job-messages" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${job.jobType}">title</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Status</dt>
                <dd>
                    <span th:if="${job.status} == 'OK'"  class="label label-success"><span th:text="${job.status}"></span></span>
                    <span th:if="${job.status} != 'OK'"  class="label label-danger"><span th:text="${job.status}"></span></span>
                </dd>
                <dt>State</dt>
                <dd th:text="${job.state}">&nbsp;</dd>
                <dt>Started</dt>
                <dd th:text="${job.started}">&nbsp;</dd>
                <dt>Stopped</dt>
                <dd th:text="${job.stopped}">&nbsp;</dd>
                <dt>Definition</dt>
                <dd><a th:href="@{|/internal/jobdefinitions/${job.jobType}|}" class="btn btn-xs btn-primary">Open Definition &raquo;</a></dd>
                <dt>Last Updated</dt>
                <dd th:text="${job.lastUpdated}">&nbsp;</dd>
                <dt>Messages</dt>
                <dd>
<pre class=".pre-scrollable">
<span th:each="message : ${job.messages}" th:text="${message}" />
</pre>
                </dd>
            </dl>
        </div>
    </div>
    <a th:href="@{/internal/jobdefinitions}" class="btn btn-sm btn-primary">Open Job Definitions &raquo;</a>
</div> <!-- /container -->

<span th:replace="fragments/footer :: footer" />

</body>
</html>