<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Job Definitions</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>JobType</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Max Age</th>
                    <th>Frequency</th>
                    <th>Retry</th>
                    <th>Last Runs</th>
                    <th>Trigger</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="def : ${jobdefinitions}">
                    <td th:text="${def.jobType}">&nbsp;</td>
                    <td th:text="${def.name}">&nbsp;</td>
                    <td th:text="${def.description}">&nbsp;</td>
                    <td th:text="${def.maxAge}">&nbsp;</td>
                    <td th:text="${def.frequency}">&nbsp;</td>
                    <td th:text="${def.retry}">&nbsp;</td>
                    <td><a th:href="@{|/internal/jobs?type=${def.jobType}|}" class="btn btn-xs btn-primary">Open &raquo;</a></td>
                    <td>
                        <button type="button"
                                class="triggerButton btn btn-xs btn-primary"
                                autocomplete="off"
                                th:attr="data-trigger-url=${baseUri} + '/internal/jobs/' + ${def.jobType}"
                                data-loading-text="Triggering...">
                            Trigger &raquo;
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <a th:href="@{/internal/jobs}" class="btn btn-sm btn-primary">Open Job Overview &raquo;</a>

</div> <!-- /container -->


<span th:replace="fragments/footer :: footer" />

<script type="text/javascript">
    $('.triggerButton').on('click', function () {
        $.ajax({
            type: "POST",
            url: $(this).data("trigger-url"),
            data: {},
            dataType: "json",
            error: function(data, status, error){
                if (error === 'Conflict') {
                    alert("Job is currently running or blocked by a different job.")
                } else {
                    alert("Failed to trigger job. \n\nStatus: " + status + "\nError: " + error);
                }
            },
            success: function(data, textStatus, xhr) {
                // data.redirect contains the string URL to redirect to
                window.location.href = xhr.getResponseHeader("Location");
            }
        });
    });

</script>
</body>
</html>

