<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="'Job Definition of ' + ${def.jobType}">title</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>JobType: </dt>
                <dd th:text="${def.jobType}">&nbsp;</dd>
                <dt>Name: </dt>
                <dd th:text="${def.name}">&nbsp;</dd>
                <dt>Description: </dt>
                <dd th:text="${def.description}">&nbsp;</dd>
                <dt>Max Age:</dt>
                <dd th:text="${def.maxAge}">&nbsp;</dd>
                <dt>Frequency:</dt>
                <dd th:text="${def.frequency}">&nbsp;</dd>
                <dt>Retry:</dt>
                <dd th:text="${def.retry}">&nbsp;</dd>
                <dt>Last Runs:</dt>
                <dd><a th:href="@{|/internal/jobs?type=${def.jobType}|}" class="btn btn-xs btn-primary">Open &raquo;</a></dd>
                <dt>Trigger:</dt>
                <dd>
                    <button type="button" id="triggerButton"
                            class="btn btn-xs btn-primary"
                            autocomplete="off"
                            th:attr="data-trigger-url=${baseUri} + '/internal/jobs/' + ${def.jobType}"
                            data-loading-text="Triggering...">
                        Trigger &raquo;
                    </button>
                </dd>
            </dl>
        </div>
    </div>

</div> <!-- /container -->


<span th:replace="fragments/footer :: footer" />

<script>
    $('#triggerButton').on('click', function () {
        $.ajax({
            type: "POST",
            url: $(this).data("trigger-url"),
            data: {},
            dataType: "json",
            error: function(data, status, error){
                if (error === 'Conflict') {
                    alert("Job is currently running or blocked by a different job.")
                } else {
                    alert("Failed to trigger job. \n\nStatus: " + status + "\nError: " + error);
                }
            },
            success: function(data, textStatus, xhr) {
                // data.redirect contains the string URL to redirect to
                window.location.href = xhr.getResponseHeader("Location");
            }
        });
    });

</script>
</body>
</html>

