<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container">
    <div class="panel panel-default" th:each="def : ${jobdefinitions}">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${def.name}"></h3>
        </div>
        <div class="panel-body">
            <div class="row>">
                <div class="col-md-4">
                    <label for="jobType">Job Type: </label>
                    <span id="jobType" th:text="${def.jobType}"></span>
                    <br/>
                    <label for="maxAge">Max Age: </label>
                    <span id="maxAge" th:text="${def.maxAge}"></span>
                    <br/>
                    <label for="frequency">Frequency: </label>
                    <span id="frequency" th:text="${def.frequency}"></span>
                    <br/>
                    <label for="retries">Retries: </label>
                    <span id="retries" th:text="${def.retry}"></span>
                </div>
                <div class="col-md-4" th:text="${def.description}">Description</div>
                <div class="col-md-4">
                    <div class="form-group">
                        <a id="openButton" th:href="@{|${managementContextPath}/jobs?type=${def.jobType}|}" class="btn btn-sm btn-default">Job Overview</a>
                    </div>
                    <div class="form-group">
                        <button type="button"
                                class="triggerButton btn btn-sm btn-default"
                                th:attr="data-trigger-url=${baseUri} + ${managementContextPath} + '/jobs/' + ${def.jobType}, disabled=${def.isDisabled ? 'disabled' : null}"
                                title="Click to start job now"
                                data-loading-text="Triggering...">
                            <span>Trigger </span><span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>

                    <form th:action="${baseUri} + ${managementContextPath} + '/jobs/' + ${def.jobType} + '/' + ${def.isDisabled?'enable':'disable'}" method="POST">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" th:title="${def.isDisabled} ? 'Job is disabled. Click to enable' : 'Job is enabled. Click to disable'">
                                    <span th:if="${def.isDisabled}">Disabled <span class="glyphicon glyphicon-remove"></span></span>
                                    <span th:if="${!def.isDisabled}">Enabled <span class="glyphicon glyphicon-ok"></span></span>
                                </button>
                            </span>
                            <textarea th:if="${def.isDisabled}" name="disabledComment" class="form-control" rows="3" disabled="true" th:text="${def.comment}"></textarea>
                            <textarea th:if="${!def.isDisabled}" name="disabledComment" class="form-control" rows="3" placeholder="Why disabled?"></textarea>
                        </div><!-- /input-group -->
                    </form>

                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->


<span th:replace="fragments/footer :: footer" />

<script th:src="${baseUri} + '/internal/js/triggerButton.js'"></script>
</body>
</html>

