<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Job Overview</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>JobType</th>
                    <th>Status</th>
                    <th>Started</th>
                    <th>Stopped</th>
                    <th>Runtime</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job : ${jobs}">
                    <td th:text="${job.jobType}">&nbsp;</td>
                    <td>
                        <th:block th:if="${job.state} != 'Running'">
                            <span th:if="${job.status} == 'OK'"  class="label label-success"><span th:text="${job.status}"></span></span>
                            <span th:if="${job.status} == 'SKIPPED'"  class="label label-default"><span th:text="${job.status}"></span></span>
                            <span th:if="${job.status} == 'ERROR'"  class="label label-danger" ><span th:text="${job.status}"></span></span>
                            <span th:if="${job.status} == 'DEAD'"  class="label label-warning" ><span th:text="${job.status}"></span></span>
                        </th:block>
                        <th:block th:if="${job.state} == 'Running'"><span th:text="RUNNING" class="label progress-bar progress-bar-info progress-bar-striped active" style="width:80%; height:2em;">RUNNING</span></th:block>
                    </td>
                    <td th:text="${job.started}">&nbsp;</td>
                    <td th:text="${job.stopped}">&nbsp;</td>
                    <td th:text="${job.runtime}">&nbsp;</td>
                    <td>
                        <div class="btn-group">
                            <button type="button"
                                    class="triggerButton btn btn-sm btn-default"
                                    th:attr="data-trigger-url=${baseUri} + ${managementContextPath} + '/jobs/' + ${job.jobType}, disabled=${job.isDisabled || (job.state == 'Running') ? 'disabled' : null}"
                                    title="Click to start job now"
                                    data-loading-text="Triggering...">
                                <span>Trigger </span><span class="glyphicon glyphicon-play"></span>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    Details <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a th:href="${job.jobUri}">Messages</a></li>
                                    <li th:if="${typeFilter == null}"><a id="openButton" th:href="@{|${managementContextPath}/jobs?type=${job.jobType}|}">Job Overview</a></li>
                                    <li th:if="${typeFilter != null}"><a id="openButton" th:href="@{|${managementContextPath}/jobs|}">Job Overview</a></li>
                                    <li><a th:href="@{|${managementContextPath}/jobdefinitions/${job.jobType}|}">Job Definition</a></li>
                                </ul>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(jobs)}"><td colspan="7">No Jobs</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->


<span th:replace="fragments/footer :: footer" />

<script th:src="${baseUri} + '/internal/js/triggerButton.js'"></script>

</body>
</html>

