<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

    <div th:replace="fragments/navigation  :: navigation" />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Application</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Name:</dt>
                            <dd th:text="${status.application.name}">Name</dd>
                            <dt>Version:</dt>
                            <dd th:text="${status.vcs.version}">Version</dd>
                            <dt>Status:</dt>
                            <dd th:text="${status.status}">Status</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">System</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Host:</dt>
                            <dd th:text="${status.system.hostname}">Hostname</dd>
                            <dt>Port:</dt>
                            <dd th:text="${status.system.port}">Port</dd>
                            <dt>System Time:</dt>
                            <dd th:text="${status.system.time}">Systemtime</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body">

                        <div class="list-group">
                            <div class="list-group-item" th:each="statusDetail : ${status.statusDetails}">
                                <h4 class="list-group-item-heading" th:text="${statusDetail.name}">List group item heading</h4>
                                <dl class="list-group-item-text dl-horizontal">
                                    <dt>Status:</dt>
                                    <dd th:text="${statusDetail.status}"></dd>
                                    <dt>Message:</dt>
                                    <dd th:text="${statusDetail.message}"></dd>
                                    <span th:each="key : ${statusDetail.details.keySet()}">
                                        <dt th:text="${key} + ':'">Message:</dt>
                                        <dd th:text="${statusDetail.details.get(key)}"></dd>
                                    </span>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <span th:replace="fragments/footer :: footer" />
</body>
</html>