<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <nav class="navbar navbar-expand-lg bg-primary fixed-top py-3 shadow"  th:fragment="navigation">
        <div class="container">

             <div class="navbar-header" th:replace="~{fragments/navbar/header :: header}"></div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto" th:replace="~{fragments/navbar/main :: main}"> </ul>
                <ul class="navbar-nav ms-auto" th:insert="~{fragments/navbar/right :: right}"> </ul>
            </div>


        </div>
    </nav>

</body>
</html>
