<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<nav class="navbar navbar-expand-lg bg-primary-subtle fixed-top shadow" th:fragment="navigation">
    <div class="container">

        <th:block th:replace="~{fragments/navbar/header :: header}"></th:block>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <th:block th:replace="~{fragments/navbar/main :: main}"></th:block>
            <th:block th:replace="~{fragments/navbar/right :: right}"></th:block>
        </div>

    </div>
</nav>

</body>
</html>