<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="statusBadge(status)">
    <span th:switch="${#strings.trim(status)}">
        <span th:case="'OK'" class="badge bg-success" th:text="${status}"></span>
        <span th:case="'WARNING'" class="badge bg-warning text-dark" th:text="${status}"></span>
        <span th:case="'ERROR'" class="badge bg-error text-dark" th:text="${status}"></span>
        <span th:case="*" class="badge bg-info" th:text="${status}"></span>
    </span>
</div>

</body>
</html>