<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<ul class="navbar-nav" th:with="url=${requestURI}" th:fragment="right">

    <li class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Admin
        </button>
        <ul class="dropdown-menu">
            <li th:each="item : ${@rightNavBar.items}">
                <a class="dropdown-item" th:href="@{${item.link}}" th:text="${item.title}"></a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/health|}">health</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/trace|}">trace</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/info|}">info</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/mappings|}">mappings</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/conditions|}">conditions</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/env|}">env</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/beans|}">beans</a></li>
        </ul>
    </li>

    <li class="nav-item d-flex align-items-center ms-2">
        <div class="vr"></div>
    </li>

    <li class="nav-item ms-2">
        <button class="btn" id="darkModeToggle" type="button">
            <i class="bi bi-moon-stars-fill"></i>
        </button>
    </li>

</ul>

</body>
</html>
