<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<ul class="navbar-nav" th:with="url=${requestURI}" th:fragment="right">

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </a>
        <ul class="dropdown-menu">
            <li th:each="item : ${@rightNavBar.items}">
                <a class="dropdown-item" th:href="@{${item.link}}" th:text="${item.title}"></a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/health|}">health</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/trace|}">trace</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/info|}">info</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/mappings|}">mappings</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/conditions|}">conditions</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/env|}">env</a></li>
            <li><a class="dropdown-item" th:href="@{|${webEndpointBasePath}/beans|}">beans</a></li>
        </ul>
    </li>
    <li class="nav-item ms-2">
        <a id="darkModeToggle" class="nav-link" href="#" role="button">
            <i class="d-only-light bi bi-sun-fill"></i>
            <i class="d-only-dark bi bi-moon-stars-fill"></i>
        </a>
    </li>
</ul>
</body>
</html>