<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

    <div class="container">

        <div class="jumbotron">
            <h3>Example</h3>
            <p th:text="${hello}" />

            <h3>Some Links</h3>
            <ul>
                <li><a href="/example/internal/status">Status Page</a></li>
                <li><a href="/example/internal/cacheinfos">Cache Info</a></li>
                <li><a href="/example/internal/health">Application Health (JSON)</a></li>
                <li><a href="/example/internal/metrics">Metrics (JSON)</a></li>
            </ul>
        </div>
    </div>

<span th:replace="fragments/footer :: footer" />

</body>
</html>