<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

                <ul class="nav navbar-nav" th:with="url=${#httpServletRequest.getRequestURI()}" th:fragment="main">
                    <li th:classappend="${url.endsWith('/') ? 'active' : ''}"><a th:href="@{/}">Home</a></li>
                    <li th:classappend="${url.endsWith('/cachestatistics') ? 'active' : ''}"><a th:href="@{/internal/cachestatistics}">Cache Statistics</a></li>
                </ul>

</body>
</html>
