<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<ul class="nav navbar-nav navbar-right" th:with="url=${#httpServletRequest.getRequestURI()}" th:fragment="right">
    <!--li th:classappend="${url.endsWith('/internal') ? 'active' : ''}"><a th:href="@{/internal}">Admin</a></li-->
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Admin <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a th:href="@{/internal/status}">Status</a>
            </li>
            <li th:if="${@environment.getProperty('edison.jobs.web.controller.enabled') == null or @environment.getProperty('edison.jobs.web.controller.enabled') == 'true'}">
                <a th:href="@{/internal/jobs}">Job Overview</a>
            </li>
            <li th:if="${@environment.getProperty('edison.jobs.web.controller.enabled') == null or @environment.getProperty('edison.jobs.web.controller.enabled') == 'true'}">
                <a th:href="@{/internal/jobdefinitions}">Job Definitions</a>
            </li>
            <li th:if="${@environment.getProperty('edison.cache.web.controller.enabled') == null or @environment.getProperty('edison.cache.web.controller.enabled') == 'true'}">
                <a th:href="@{/internal/cacheinfos}">Cache Info</a>
            </li>
            <li th:if="${@environment.getProperty('edison.togglz.web.console') == null or @environment.getProperty('edison.togglz.web.console') == 'true'}">
                <a th:href="@{/internal/toggles/console}">Feature Toggles</a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{/internal/health}">health</a></li>
            <li><a th:href="@{/internal/metrics}">metrics</a></li>
            <li><a th:href="@{/internal/trace}">trace</a></li>
            <li><a th:href="@{/internal/dump}">dump</a></li>
            <li><a th:href="@{/internal/info}">info</a></li>
            <li><a th:href="@{/internal/mappings}">mappings</a></li>
            <li><a th:href="@{/internal/autoconfig}">autoconfig</a></li>
            <li><a th:href="@{/internal/env}">env</a></li>
            <li><a th:href="@{/internal/beans}">beans</a></li>
        </ul>
    </li>
</ul>

</body>
</html>
