<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head  :: head" />

<body>

    <div th:replace="fragments/navigation :: navigation" />

    <div class="container">
        <div th:each="cacheInfo : ${cacheInfos}" class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" th:text="${cacheInfo['name']}">Cache Name</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Metric</th>
                                    <th>Value</th>
                                    <th>Rate</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span
                                                title="requestCount: the number of times Cache lookup methods have returned either a cached or uncached value">requestCount</span>
                                        </td>
                                        <td th:text="${cacheInfo.getRequestCount()}"></td>
                                        <td><span/></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                title="hitCount: the ratio of cache requests which were hits">hitCount</span>
                                        </td>
                                        <td th:text="${cacheInfo.getHitCount()} + ' times'"></td>
                                        <td th:text="${#numbers.formatDecimal(cacheInfo.getHitRate() * 100, 0, 2)} + '%'"></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                title="missCount: the number of times Cache lookup methods have returned an uncached (newly loaded) value, or null">missCount</span>
                                        </td>
                                        <td th:text="${cacheInfo.getMissCount()} + ' times'"></td>
                                        <td th:text="${#numbers.formatDecimal(cacheInfo.getMissRate() * 100, 0, 2)} + '%'"></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                title="loadSuccessCount: the number of times Cache lookup methods have successfully loaded a new value">loadSuccessCount</span>
                                        </td>
                                        <td th:text="${cacheInfo.getLoadSuccessCount()}"></td>
                                        <td><span/></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                title="loadExceptionCount: the ratio of cache loading attempts which threw exceptions">loadExceptionCount</span>
                                        </td>
                                        <td th:text="${cacheInfo.getLoadExceptionCount()} + ' times'"></td>
                                        <td th:text="${#numbers.formatDecimal(cacheInfo.getLoadExceptionRate() * 100, 0, 2)} + '%'"></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                title="totalLoadTime: the total number of milliseconds the cache has spent loading new values">totalLoadTime</span>
                                        </td>
                                        <td th:text="${cacheInfo.getTotalLoadTime()/1000000} + ' milliseconds'"></td>
                                        <td><span/></td>
                                    </tr>
                                    <tr>
                                        <td><span
                                                title="evictionCount: the number of times an entry has been evicted">evictionCount</span>
                                        </td>
                                        <td th:text="${cacheInfo.getEvictionCount()} + ' times'"></td>
                                        <td><span/></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Configuration</th>
                                    <th>Value</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Max Cache Capacity</td>
                                        <td th:text="${cacheInfo.getMaxCacheCapacity()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Cache Size</td>
                                        <td th:text="${cacheInfo.getCacheSize()}"></td>
                                    </tr>
                                    <tr>
                                        <td>Cache Expiration time [secs]</td>
                                        <td th:text="${cacheInfo.getCacheExpiresTimeInSeconds()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <span th:replace="fragments/footer :: footer" />

</body>
</html>

