<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Edison Jobs</title>

    <!-- Bootstrap -->
    <link th:href="${baseUri} + '/webjars/bootstrap/3.3.5/css/bootstrap.min.css'" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<ol class="breadcrumb">
    <li><a th:href="${baseUri} + '/internal'">Internal</a></li>
    <li><a th:href="${baseUri} + '/internal/jobdefinitions'">Job Definitions Overview</a></li>
    <li class="active">Job Definition</li>
</ol>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="'Job Definition of ' + ${def.jobType}">title</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>JobType: </dt>
                <dd th:text="${def.jobType}">&nbsp;</dd>
                <dt>Name: </dt>
                <dd th:text="${def.name}">&nbsp;</dd>
                <dt>Description: </dt>
                <dd th:text="${def.description}">&nbsp;</dd>
                <dt>Max Age:</dt>
                <dd th:text="${def.maxAge}">&nbsp;</dd>
                <dt>Frequency:</dt>
                <dd th:text="${def.frequency}">&nbsp;</dd>
                <dt>Retry:</dt>
                <dd th:text="${def.retry}">&nbsp;</dd>
                <dt>Last Runs:</dt>
                <dd><a th:href="'../jobs?type=' + ${def.jobType} + '&amp;backUri=jobdefinitions/' + ${def.jobType} + '&amp;backName=Job Definition'">Open</a></dd>
                <dt>Trigger:</dt>
                <dd><form th:action="'../jobs/' + ${def.jobType}" method="post">
                    <button class="btn btn-sm btn-primary" type="submit">Trigger &raquo;</button>
                </form></dd>
            </dl>
        </div>
    </div>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="${baseUri} + '/webjars/jquery/1.11.1/jquery.min.js'"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="${baseUri} + '/webjars/bootstrap/3.3.5/js/bootstrap.min.js'"></script>
</body>
</html>

