<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>JobType</th>
            <th>Status</th>
            <th>State</th>
            <th>Started</th>
            <th>Stopped</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job : ${jobs}">
            <td th:text="${job.jobType}">&nbsp;</td>
            <td th:text="${job.status}">&nbsp;</td>
            <td th:text="${job.state}">&nbsp;</td>
            <td th:text="${job.started}">&nbsp;</td>
            <td th:text="${job.stopped}">&nbsp;</td>
            <td><a th:href="${job.jobUri}" th:text="${job.jobUri}" /></td>
        </tr>
        </tbody>
    </table>

    <p th:if="${#lists.isEmpty(jobs)}">No Jobs</p>

</body>
</html>