<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Edison Jobs</title>

    <!-- Bootstrap -->
    <link th:href="${baseUri} + '/webjars/bootstrap/3.3.5/css/bootstrap.min.css'" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<ol class="breadcrumb">
    <li><a th:href="${baseUri} + '/internal'">Internal</a></li>
    <li class="active">Job Overview</li>
</ol>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Job Overview</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>JobType</th>
                    <th>Status</th>
                    <th>State</th>
                    <th>Started</th>
                    <th>Stopped</th>
                    <th>URL</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="job : ${jobs}">
                    <td th:text="${job.jobType}">&nbsp;</td>
                    <td>
                        <span th:if="${job.status} == 'OK'"  class="label label-success"><span th:text="${job.status}"></span></span>
                        <span th:if="${job.status} != 'OK'"  class="label label-danger"><span th:text="${job.status}"></span></span>
                    </td>
                    <td th:text="${job.state}">&nbsp;</td>
                    <td th:text="${job.started}">&nbsp;</td>
                    <td th:text="${job.stopped}">&nbsp;</td>
                    <td><a th:href="${job.jobUri} + '.html'">Open</a></td>
                </tr>
                <tr th:if="${#lists.isEmpty(jobs)}"><td colspan="6">No Jobs</td></tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div> <!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="${baseUri} + '/webjars/jquery/1.11.1/jquery.min.js'"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="${baseUri} + '/webjars/bootstrap/3.3.5/js/bootstrap.min.js'"></script>
</body>
</html>

