<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head :: head" />

<body>

    <div th:replace="fragments/navigation :: navigation" />

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Admin Tools</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a th:href="@{/internal/status}">Status Page</a></li>
                            <li><a th:href="@{/internal/jobs}">Job Overview</a></li>
                            <li><a th:href="@{/internal/jobdefinitions}">Job Definitions</a></li>
                            <li><a th:href="@{/internal/togglz}">Feature Toggles</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">System</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a th:href="@{/internal/health}">health</a></li>
                            <li><a th:href="@{/internal/metrics}">metrics</a></li>
                            <li><a th:href="@{/internal/trace}">trace</a></li>
                            <li><a th:href="@{/internal/dump}">dump</a></li>
                            <li><a th:href="@{/internal/info}">info</a></li>
                            <li><a th:href="@{/internal/mappings}">mappings</a></li>
                            <li><a th:href="@{/internal/autoconfig}">autoconfig</a></li>
                            <li><a th:href="@{/internal/env}">env</a></li>
                            <li><a th:href="@{/internal/beans}">beans</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</body>
</html>
