<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Example</h1>
    <p th:text="${hello}" />

    <h1>Some Links</h1>
    <ul>
        <li><a href="/example/internal/status">Status Page</a></li>
        <li><a href="/example/internal/health">Application Health</a></li>
        <li><a href="/example/internal/metrics">Application Metrics</a></li>
        <li><a href="/example/jobs">Jobs</a></li>
    </ul>

    <h1>Start a long-running job</h1>
    <p>The state of the job can be observed on the <a href="/example/internal/jobs">jobs</a> page.</p>
    <form action="/example/startJob">
        <button formmethod="post" type="submit">Start Foo</button>
    </form>
</body>
</html>