<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head  :: head" />

<body>

<div th:replace="fragments/navigation  :: navigation" />

    <div class="container">

        <div class="jumbotron">
            <h3>Example</h3>
            <p th:text="${hello} + ' Edison'" />

            <h3>Some Links</h3>
            <ul>
                <li><a href="/example/internal/status">Status Page</a></li>
                <li><a href="/example/internal/health">Application Health</a></li>
                <li><a href="/example/internal/metrics">Application Metrics</a></li>
                <li><a href="/example/internal/jobs">Jobs</a></li>
            </ul>

            <h3>Start a long-running job</h3>
            <p>The state of the job can be observed on the <a href="/example/internal/jobs">jobs</a> page.</p>
            <form action="/example/internal/jobs/foo">
                <button formmethod="post" type="submit">Start Foo</button>
            </form>
            <form action="/example/internal/jobs/bar">
                <button formmethod="post" type="submit">Start Bar</button>
            </form>
        </div>
    </div>

<span th:replace="fragments/footer :: footer" />

</body>
</html>