<configuration>

    <contextName>microservice</contextName>
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p logger=%c message="%m" thread=%t job=%X{job_id} %n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="console"/>
    </root>

</configuration>
